/* Adobe Typekit fonts
-------------------------------*/
@import url("https://use.typekit.net/ems4hzu.css");

/* Global
-------------------------------*/
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: 2px;
  font-size: 16px;
  color: #42342d;
  min-width: 200px;
  margin: 0 auto;
  padding: 0px;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 90px auto 200px;
  height: 100%;
  grid-template-areas:
    "h h n n n n n n n n n n"
    "a a c c c c c c c c c c"
    "f f f f f f f f f f f f";
}

.container > header,
aside,
nav,
footer {
  display: flex;
}

header {
  grid-area: h;
  background-color: transparent;
  

}
nav {
  grid-area: n;
  background-color: transparent;
  justify-content: flex-end;
  align-items: center;
}
aside {
  grid-area: a;
}
main {
  grid-area: c;
  min-height: 980px;  
}

footer {
  grid-area: f;
  background-color: #DBD4C4;
}

nav li {
  list-style-type: none;
  display: inline-block;
  padding-right: 27px;
}

nav li a {
  text-decoration: none;
  color: #42342d;
  font-size: 25px;
}
nav li a:hover {
  color: #42342d;
  font-weight: bold;

}

.active{
  font-weight:bold;
  text-decoration: underline;
}
}
nav ul {
  padding-right: 27px;
}

.logoimg {
  padding: 8px;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.mother {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.child {
  flex-direction: column;
  background-color: white;
  padding: 20px;
  max-width: 700px;
  margin: 20px;
  border: 2px solid #c6bba3;
}


/*-- t y p e --
  ---------------------------------------*/
h1 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 0.9;
  letter-spacing: 2px;
  font-size: 40px;
}

h2 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: uppercase;
}

h3 {
  line-height: 1.5;
  letter-spacing: 2px;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 90px auto 200px;
    height: 100%;
    grid-template-areas:
      "h h h h h h h h h h h h"
      "n n n n n n n n n n n n"
      "a c c c c c c c c c c c"
      "f f f f f f f f f f f f";
    
  }
  header {
    justify-content: center;
    align-items: center;
  }

  nav li {
    padding-right: 7px;
  }
  nav {
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    margin-top: 25px;
  }

  .logoimg {
    height: 100%;
    margin-top: 10px;
  }
  .item{
    margin-top: -100px;
  }
}
